.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Roboto+Light', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2 {
  font-family: 'Moon-Bold', sans-serif;
}

h3, h4 {
  font-family: 'Moon', sans-serif;
}

li > a, .navbar-header > a {
  color: #222222;
  font-family: 'Moon';
}

li {
  text-decoration: none;
}

.my-own-container > img {
  height: 300px;
}

.my-own-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

#googleImage {
  height: 200px;
}

.navbar-nav>li>a {
  padding: 15px, 2px;
}

.video {
  width: 100%;
}

.button {
  background-color: #FF7F00;
  border-color: #f9f9f9;
  width: 130px;
  color: #f9f9f9;
  border-radius: 70px;
}

.button:hover {
  border-color: #FF7F00;
  background-color: #FFFFFF;
  color: #FF7F00;
}

div.caption > br + p {
  text-align: center;
}

h2 {
  text-align: center;
}

.footer {
  padding: 20px auto;
}

.form-group > #email {
  width: 200px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.logo {
  height: 100px;
}

.logo-trans {
  height: 45px;
  padding: 10px 15px 5px 0px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
