<div class="container">
  <div class="row-fluid">
  <div class="{{user.provider === 'password'? 'col-md-4' : 'col-md-12'}}">
    <h3>Profile</h3>

    <form role="form">
      <p class="form-group">
        <label>Account ID</label>
        <br />{{ user.google.displayName }}
        <br>
        <br>
        <img id="googleImage" src="{{ user.google.profileImageURL }}" alt="Profile Image" />
      </p>
    </form>

    <p>
      <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
    </p>
  </div>
</div>
