<div class='container my-own-container'>
  <img src="../images/happy+homeless+man.jpg" alt="Homeless man smiling" />
  <h2>Donate</h2>
</div>

<div class="container">
  <div>
    <div class="step1">
      <h3>Step 1</h3>
      <p>
        First, I'd like to get you started with choosing what type of donation you'd like to make. You can choose between these three options: Location based, pre-packaged gifts, or you can even create your own gift.
      </p>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/placeholder.png" alt="...">
          <div class="caption">
            <h4>Locations</h4>
            <p>Search locations near you to find a suitable place to drop-off the items you wish to donate.</p>
            <br>
            <p><a href="#" class="btn btn-warning" role="button">Select</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/placeholder.png" alt="...">
          <div class="caption">
            <h4>Pre-Packaged Items Bundle</h4>
            <p>Choose from our pre-packaged items to donate. This saves you time while still helping out.</p>
            <br>
            <p><a href="#" class="btn btn-warning" role="button">Select</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../images/placeholder.png" alt="...">
          <div class="caption">
            <h4>Create Your Own Bundle</h4>
            <p>With our create your own feature you can choose what you want to donate from the comfort of your own home!</p>
            <br>
            <p><a href="#list" class="btn btn-warning" role="button">Select</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
