<div class='container my-own-container'>
  <img src="../images/hand-holding.jpg" alt="Hand holding gift" />
  <h2>Create Your Own Bundle</h2>
</div>
<div class="container">
  <h3>Step One:</h2>
  <p>
    In this step, we are going to ask you to please enter the names of items that you'd like to donate and add them to your list. Your list will add the total of the items to let you know how much you will be charged.
  </p>
  <p>
    <form>
      <ul>
        <li ng-repeat="item in items" class="checkbox">
          <label>
            <span>{{ item.name }}</span>
            <span>${{ item.price }}</span>
            <button type="submit" ng-click="addItem(item, $index)" class="btn btn-default">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <br>
            <br>
          </label>
        </li>
      </ul>
    </form>
  </p>
  <p>
    <ul>
      <li ng-repeat="item in userItems">
        <span>{{ item.name }}</span>
        <span>${{ item.price }}</span>
        <button type="submit" ng-click="removeItem(item)" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </li>
    </ul>
  </p>
  </div>
</div>
