<div class="container my-own-container">
  <img class="video" src="../images/video-placeholder.jpg" alt="" />
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/placeholder.png" alt="...">
        <div class="caption">
          <h4>Meet and Greet</h4>
          <p>Learn more about the people that you will be helping out!</p>
          <br>
          <p><a href="#" class="btn btn-warning" role="button">Select</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/placeholder.png" alt="...">
        <div class="caption">
          <h4>About Us</h4>
          <p>Get to know us so you're sure your money is going to the best organization.</p>
          <br>
          <p><a href="#" class="btn btn-warning" role="button">Select</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/placeholder.png" alt="...">
        <div class="caption">
          <h4>Donate</h4>
          <p>With your help, we can change many lives!</p>
          <br>
          <p><a href="#donate" class="btn btn-warning" role="button">Select</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
